<div class="mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link text-decoration-none">Sửa</a>
                    <a href="" class="btn btn-link text-decoration-none" data-bs-toggle="modal"
                        data-bs-target="#deleteModal" data-id="{{this._id}}">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Thông báo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Xác nhận xóa khóa học?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa khóa học</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST" action="">

</form>

<script>

    var courseID;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');


    const deleteModal = document.getElementById('deleteModal')
    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            courseID = button.getAttribute('data-id');
        })
    }

    btnDeleteCourse.onclick = function(){
        deleteForm.action = '/courses/'+ courseID + '?_method=DELETE';
        deleteForm.submit();
    }

</script>